/***************************************************/
.logout-button{
    background-color: rgb(52, 189, 64);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;   
    width: 100px;
    display: none;
    margin: 5px;
}
/* Button used to open the register form - fixed at the top of the page */
.register-button{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 100px;
    margin: 5px;
}
  /* The register popup form - hidden by default */
  .form-register-popup {
    display: none;
    border: 3px solid #f1f1f1;
    z-index: 9;
    

}

/* Button used to open the contact form - fixed at the top right of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 100px;
    margin: 5px;
  }
  
  /* The popup form - hidden by default */
  .form-login-popup {
    display: none;
    border: 3px solid #f1f1f1;
    z-index: 9;

  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=email], .form-container input[type=password],.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=email]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover , .register-button:hover, .hero-btn:hover, .adder:hover{
    opacity: 1;
  }


  /******************************************************************************/

#content{
  margin-top : 200px;
}

#reglogform{
    /* The modal2 (background) */
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      justify-content: center;
      align-items: center;
      z-index: 10000000; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
}


@media only screen and (max-width: 600px) {
  .header-nav-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .menu {
    display: flex;

  }
  .logo-item{
    order : 2;
  }
  #menuItem2{
    padding: 0;
    order: 1;
  }
  #menuItem2{
    order: 3;
  }
}