* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.pre-header {
  width: 100%;
  background-color: black;
  border-bottom: double 7px darkgoldenrod;
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
a:hover {
  color: darkgoldenrod;
}

header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0px;
}
.inner-header {
  width: 950px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 70px;
}
.menu-item {
  padding: 10px;
}
.user-log {
  padding: 5px;
}

/*hero*/
.hero {
  background-image: url(coffee-break.jpg);
  /*background-attachment: fixed;*/
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
  margin: 0px;
  color: white;
  font-size: xx-large;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.inner-hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5));
  text-align: center;
}

/*nasba*/
.nasba {
  width: 100%;
  padding: 60px;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: double 7px darkgoldenrod;
}
.inner-nasba {
  padding: 10px;
  margin: 20px;
  width: 950px;
  border: 1px solid darkgoldenrod;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 5px;
  width: 250px;
  border: 1px solid darkgoldenrod;
  text-align: center;
}
.card img {
  width: 100%;
}
.card button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.article-flous {
  justify-content: space-evenly;
  border-top: 1px solid darkgoldenrod;
}

/*footer*/
footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.inner-footer {
  width: 950px;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}
/*contact form*/
.unique-form {
  min-width: 20px;
  border-radius: 5px;
}

.unique-form section {
  max-width: 500px;
  margin: 10px auto;
  border: 2px solid rgb(74, 60, 35);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

form > div {
  display: flex;
  margin: 3px;
}

.unique-form label {
  display: block;
  padding: 0.5em;
  margin-right: 5px;
  text-transform: uppercase;
  width: 50%;
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(74, 60, 35);
  border-radius: 5px;
  color: white;
}

.unique-form input,
textarea {
  display: block;
  width: 100%;
  border: 2px solid rgb(74, 60, 35);
  padding: 0.5em;
  border-radius: 5px;
}

.send-btn {
  border: 0;
  background: black;
  padding: 10px;
  color: white;
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s background ease;
}
.send-btn:hover {
  background: green;
  border: 2px solid green;
}
footer li {
  list-style: none;
}

.after-footer {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}

.cart-thumb {
  width: 60px;
}
.cart-thumb-div {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 50px;
}
#carted-items-number{
  position: absolute;
  top: 0px;
  font-size: 2em;
  color: black;
  background-color: yellow;
  border-radius: 10px;
  padding: 1px;
}
#userName{
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 2em;
    color: black;
    background-color: yellow;
    border-radius: 10px;
    padding: 1px;
  }
 @media only screen and (max-width: 500px) {
  .cart-thumb {
    width: 50px;
  }
  .cart-thumb-div {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 50px;
  }
  .cart-thumb-div span {
    position: absolute;
    top: 0px;
    font-size: 1em;
    color: black;
    background-color: yellow;
    border-radius: 10px;
    padding: 1px;
  }
}
/*header user log btns*/
.header-nav-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

}



/**********************************reglog form**********************************/

/***************************************************/
.logout-button{
  background-color: rgb(52, 189, 64);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;   
  width: 100px;
  display: none;
  margin: 5px;
}
/* Button used to open the register form - fixed at the top of the page */
.register-button{
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100px;
  margin: 5px;
}
/* The register popup form - hidden by default */
.form-register-popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
  

}

/* Button used to open the contact form - fixed at the top right of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100px;
  margin: 5px;
}

/* The popup form - hidden by default */
.form-login-popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;

}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=email], .form-container input[type=password],.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=email]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover , .register-button:hover, .hero-btn:hover, .adder:hover{
  opacity: 1;
}


/******************************************************************************/

#content{
margin-top : 200px;
}

#reglogform{
  /* The modal2 (background) */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    justify-content: center;
    align-items: center;
    z-index: 10000000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}


@media only screen and (max-width: 600px) {
.header-nav-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.menu {
  display: flex;

}
.logo-item{
  order : 2;
}
#menuItem2{
  padding: 0;
  order: 1;
}
#menuItem2{
  order: 3;
}
}


/*****************************cart.css**************************************/


  
#cart-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 0em;
  background-color: rgb(255, 255, 255);
  border: 1px solid #888;
}

#cart-table td,
#cart-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cart-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#cart-table tr:hover {
  background-color: #ddd;
}

#cart-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(104, 89, 39);
  color: white;
}
#cart-table input {
  width: 50px;
}

#cart-table td button,
#clonage button {
  background-color: #dc3545;
  border-color: #dc3545;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#cart-table td button:hover,
#clonage button:hover  {
  background-color: #c82333;
  border-color: #bd2130;
}



/*cart modal*/

.cart-modal-container{
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.cart-modal-content{
  overflow-x:auto;
  width: fit-content;

}




.cancel-checkout{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}



#cancel {
  background-color: #ffc107;
  border-color: #ffc107;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: black;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#cancel:hover{
  background-color: #c82333;
  border-color: #bd2130;
}

#checkout {
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#checkout:hover  {
  background-color: #28a745;
  border-color: #28a745;
}

.prototype{
  display: none;
}